* {
	font-family: 'Oxygen', sans-serif;
}
.navbar {
	background-color: #171717;
	text-transform: uppercase;
}
.carousel-item img {
    max-height: calc(100vh - 0px);
    overflow: hidden;
    opacity: 0.9;
}
.carousel-inner h3 {
	text-transform: uppercase;
    font-size: 3em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.carousel-caption {
    top: 40%;
    bottom: auto;
}

.opp {
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.page-section {
  padding: 8rem 0;
}


.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}


ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 60px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

.bg-primary {
  background-color: #171717 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #ee3e0d !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.bg {
  /* The image used */
  background-image: url("../img/nyBreath-crop3.gif");
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-white {
	text-transform: uppercase;
	margin-top: 70px !important;
}

.text-white-50 {
font-size: 20px; 
color: white !important;
}

hr.divider {
    max-width: 3.25rem;
    border-width: .2rem;
    border-color: #171717;
}

.text-muted {
	margin-top: 20px !important;
}

.page-footer {
  background-color: #171717;
}

/***** Footer *****/

.footer-top { padding: 60px 0; background: #171717; text-align: left; color: #aaa; }
.footer-top h3 { padding-bottom: 10px; color: #fff; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; }
.footer-contact p a { border: 0; }
.footer-contact p a:hover, .footer-contact p a:focus { border: 0; }


.footer-bottom { padding: 15px 0 17px 0; background: #252525; text-align: left; color: #aaa; }

.footer-social { padding-top: 3px; text-align: right; }
.footer-social a { margin-left: 20px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #79a05f; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-copyright { padding-top: 5px; }
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }

#mapid {
  height: 250px;
  width: 100%;
}
.fab {
  font-size: 32px !important;
}

.fa-facebook-f:hover {
  color: #3b5998;
  transition: 0.3s;
}
.fa-twitter:hover {
  color: #55acee;
  transition: 0.3s;
}

.fa-google-plus-g:hover {
  color: #dc4e41;
  transition: 0.3s;
}

.fa-instagram:hover {
  color: #517fa4;
  transition: 0.3s;
}
.fa-pinterest:hover {
  color: #bd081c;
  transition: 0.3s;
}
.fa-linkedin:hover {
  color: #0077b5;
  transition: 0.3s;
}

.logo-text {
  color: white;
  font-size: 26px
}

.fa-linkedin-in:hover {
  color: #0077b5;
  transition: 0.3s;
}

h2{
  text-align:center;
  padding: 20px;
}


.contact-section {
    font-size:40px;
    margin-top:0;
    margin-bottom: 30px;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
  visibility: hidden;
}

.portfolio-item:hover .caption .caption-content h2 {
  visibility:visible;
  transition: 0.25s;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
  visibility:hidden;
}

.portfolio-item:hover .caption .caption-content p {
  visibility:visible;
  transition: 0.25s;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}

.img-fluid {
  width: 100%;
}