* {
	font-family: 'Oxygen', sans-serif;
}
.navbar {
	background-color: #171717;
	text-transform: uppercase;
}
.carousel-item img {
    max-height: calc(100vh - 0px);
    overflow: hidden;
    opacity: 0.9;
}
.carousel-inner h3 {
	text-transform: uppercase;
    font-size: 3em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.carousel-caption {
    top: 40%;
    bottom: auto;
}

.opp {
  background: rgba(0, 0, 0, 0.75);
  color: white;
}
